<!doctype html>

<html lang="en">
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% if title %}
    <title>{{ title }} - bestla</title>
    {% else %}
    <title>Welcome to bestla</title>
    {% endif %}

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- bootstrap widget theme -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.bootstrap.css') }}">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/logo-nav.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>


    <!-- tablesorter plugin -->
    <script src="{{ url_for('static', filename='js/jquery.tablesorter.js') }}"></script>
    <!-- tablesorter widget file - loaded after the plugin -->
    <script src="{{ url_for('static', filename='js/jquery.tablesorter.widgets.js') }}"></script>

    <!-- pager plugin -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.tablesorter.pager.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.tablesorter.pager.js') }}"></script>
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            bestla:
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
               <a href="/ssh">SSH</a>
            </li>
            <li>
              <a href="/machines">Machines</a>
            </li>
            <li>
              <a href="/new">New Machine</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- /.container -->
    </nav>
    <div class="container">
      {% block content %}{% endblock %}
    </div>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>
