<!-- extend from base layout -->
{% extends "admin_base.html" %}

{% block content %}
<h2>Welcome to bestla</h2>
Here you can import an existing machine image in qcow2 format.
<p>
 <form action="/import" method="post" name="image_form">
     {{ form.hidden_tag() }}
     <p>
        Please enter a path (on the local system) to the image:<br>
        {{ form.path(size=80) }}<br>
     </p>
     <p>
        Please enter the operating system:<br>
        {{ form.os(size=80) }}<br>
     </p>
     <p><input type="submit" value="Import"></p>
 </form>

<br>
{% endblock %}

