<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<h2>Welcome to bestla</h2>
Bestla is a proof-of-concept cloud service written by John Dulaney.
<p>
Steps to get going:
<p>
<a href="/master">Create master image</a>.  This will be used as the base
image for vms.
<p>
<a href="/import">Import existing image</a>.  Import an image rather than create it.
<p>
<a href="/new_ssh">New SSH Key</a>
<br>
<a href="/new">New VM</a>
<br>
{% endblock %}

