<!-- extend from base layout -->
{% extends "admin_base.html" %}

{% block content %}
<h2>Welcome to bestla</h2>
Bestla is a proof-of-concept cloud service written by John Dulaney.
<form id="masterimageform" class="form-horizontal" action="/master" method="post" name="image_form">
    {{ form.hidden_tag() }}
    <fieldset>

        <!-- Form Name -->
        <legend>New master image</legend>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="name">Please enter an image name</label>
            <div class="controls">
                {{ form.name(size=50) }}
            </div>
        </div>

        <!-- Textarea -->
        <div class="control-group">
            <label class="control-label" for="key">Please select an operating system</label>
            <div class="controls">
                {{ form.os(size=5) }}
            </div>
        </div>
        <input class="btn btn-default" type="submit" value="Create">
    <fieldset>
</form>
{% endblock %}

