<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<form id="newsshform" class="form-horizontal" action="/new_ssh" method="post" name="ssh">
  {{ form.hidden_tag() }}
  <fieldset>

    <!-- Form Name -->
    <legend>New SSH key</legend>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="name">Name your new</label>
      <div class="controls">
        {{ form.name(size=50) }}
      </div>
    </div>

    <!-- Textarea -->
    <div class="control-group">
      <label class="control-label" for="key">Please copy and paste your public key</label>
      <div class="controls">                     
        {{ form.key(rows=15, cols=80) }}<br>
      </div>
    </div>
    <input class="btn btn-default" type="submit" value="Submit">
  </fieldset>
</form>
{% endblock %}
