<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<br>
<a href=/new_ssh>New SSH key</a>
<table id="keyTable" class="tablesorter">
    <thead>
        <tr>
            <th>Key</th>
        </tr>
    </thead>
    <tbody>
        {% for row in keys %}
        <tr>
            <td>{{ row.name }}</td>
            <td><a href='/key_action/{{row.name}}/delete'>Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

