<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<form action="/new" method="post" name="virtform" class="form-horizontal" >
      <fieldset>

        <!-- Form Name -->
        <legend>New Virtual Machine</legend>

        <!-- Text input-->
        <div class="control-group">
          <div class="controls">
            {{ form.hidden_tag() }}
            {% if disable[0] != 'disabled' %}
                <label class="control-label" for="name">Virtual machine name</label>
                <br>
                {{ form.name(size=80) }}
                <br>
                {{ form.os(size=5) }}
                <br>
                {{ form.key(size=5) }}
            {% else %}
                {{ disable[1] }}
            {% endif %}
          </div>
        </div>

        <!-- Button -->
        <div class="control-group">
          <div class="controls">
              <input type="submit" {{ disable[0] }} id="submit"
                  name="submit" value="Create" class="btn btn-default" />
          </div>
        </div>
      </fieldset>
    </form>

{% endblock %}
