<!-- extend from base layout -->
<meta http-equiv="refresh" content="5; url=/machines">
{% extends "base.html" %}

{% block content %}
<br>
<table id="vmTable" class="tablesorter">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>IP</th>
            <th colspan="3" class="sorter-false">Options</th>
        </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>IP</th>
        <th colspan="3" class="sorter-false">Options</th>
      </tr>
      <tr>
        <th colspan="6" class="ts-pager form-horizontal">
          <button type="button" class="btn first"><i class="icon-step-backward glyphicon glyphicon-step-backward"></i></button>
          <button type="button" class="btn prev"><i class="icon-arrow-left glyphicon glyphicon-backward"></i></button>
          <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
          <button type="button" class="btn next"><i class="icon-arrow-right glyphicon glyphicon-forward"></i></button>
          <button type="button" class="btn last"><i class="icon-step-forward glyphicon glyphicon-step-forward"></i></button>
          <select class="pagesize input-mini" title="Select page size">
            <option selected="selected" value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
          </select>
          <select class="pagenum input-mini" title="Select page number"></select>
        </th>
      </tr>
    </tfoot>
    <tbody>
        {% for row in vms %}
        <tr>
            <td>{{ row.name }}</td>
            <td>{{ row.status }}</td>
            <td>{{ row.ip }}</td>
            <td><a href='/command/{{row.name}}/{{row.start_stop}}'>{{row.start_stop}}</a></td>
            <td><a href='/command/{{row.name}}/{{row.delete}}'>{{row.delete}}</a></td>
            <td><a href='/command/{{row.name}}/{{row.pause}}'>{{row.pause}}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script src="{{ url_for('static', filename='js/calltablesorterpager.js') }}"></script>
{% endblock %}

