<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}
<link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">
<form class="form-signin" action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
    <h2 class="form-signin-heading">Please sign in</h2>
    <fieldset>
        <label class="sr-only" for="email">Email address</label>
        <input id="email" class="form-control" type="email" autofocus="" required="" placeholder="Email address" name="email">
        <label class="sr-only" for="password">Password</label>
        <input id="password" class="form-control" type="password" required="" placeholder="Password" name="password">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me" id="remember" value="y" name="remember">
                Remember me
            </label>
        </div>
  {{ login_user_form.hidden_tag() }}
  {{ render_field(login_user_form.next) }}
        <div class="control-group">
            <div class="controls">
                <button id="submit" name="submit" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </div>
        </div>
    </fieldset>
</form>
{% include "security/_menu.html" %}
{% endblock %}
